<section class="container">
    <div class="row">
      <h2 class="title-primay">login</h2>
        <form class="login">
            <div class="form-group">
              <label for="exampleInputEmail1">Agência</label>
              <input type="number" class="form-control" id="agencia" placeholder="ex: 000">              
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Conta</label>
                <input type="number" class="form-control" id="conta" placeholder="ex: 00000000-00">              
              </div>            
            <button type="submit" class="btn">Entrar</button>
          </form>
    </div>
</section>